@{
    ViewData["Title"] = "Paket";
}

@model IEnumerable<Models.PackageEventModel>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    TempData.Remove("SuccessMessage");
}

<div class="card shadow-sm">
    <!-- HEADER -->
    <div class="row align-items-center px-3 pt-3">
        <div class="col-md-6">
            <h5 class="mb-0">
                <i class="bx bx-package me-2"></i> Paket Event
            </h5>
        </div>

        <!-- SEARCH & ACTION -->
        <div class="col-md-6 d-flex justify-content-end">
             <div class="d-flex">
                <form asp-action="Index" method="get" class="d-flex me-2">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bx bx-search"></i>
                        </span>
                        <input type="text" name="search" class="form-control"
                               placeholder="Search..."
                               value="@ViewBag.Search" />
                    </div>
                    <button class="btn btn-primary ms-2">Cari</button>
                </form>

                <a asp-action="Create" class="btn btn-primary">
                    <i class="bx bx-plus me-1"></i> Tambah
                </a>
            </div>
        </div>
    </div>

    <hr />

    <!-- BODY -->
    <div class="card-body p-0">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover mb-0">
                <thead class="table-light">
                    <tr class="text-nowrap">
                        <th>No</th>
                        <th>Nama Paket</th>
                        <th>Harga</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        int no = (ViewBag.CurrentPage - 1) * 10 + 1;
                    }

                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted p-4">Data tidak ditemukan</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">@no</td>
                                <td><strong>@item.PackageName</strong></td>
                                <td>@item.BasePrice.ToString("C0")</td>
                                <td>
                                    @if (item.Status == "available")
                                    {
                                        <span class="badge bg-success">Available</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Unavailable</span>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-info btn-sm" asp-action="Detail" asp-route-id="@item.PackageEventId">
                                            <i class='bx bxs-show text-white'></i>
                                        </a>

                                        <a asp-action="Edit" asp-route-id="@item.PackageEventId" class="btn btn-warning btn-sm">
                                            <i class='bx bxs-edit'></i>
                                        </a>
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                onclick="submitDelete('@item.PackageEventId')">
                                            <i class="bx bx-trash"></i>
                                        </button>
                                    </div>
                                    <form id="deleteForm-@item.PackageEventId"
                                            asp-action="Delete"
                                            method="post"
                                            style="display:none;">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="id" value="@item.PackageEventId" />
                                    </form>
                                </td>
                            </tr>
                            no++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- PAGINATION -->
    @if (ViewBag.TotalPages > 1)
    {
        <nav aria-label="Page navigation" class="mt-3 pb-3">
            <ul class="pagination justify-content-center mb-0">
                @{
                    int currentPage = ViewBag.CurrentPage;
                    int totalPages = ViewBag.TotalPages;
                    string search = ViewBag.Search;
                }

                <!-- Previous -->
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(currentPage - 1)"
                       asp-route-search="@search">
                        Previous
                    </a>
                </li>

                <!-- Pages -->
                @for (int i = 1; i <= totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-page="@i"
                           asp-route-search="@search">@i</a>
                    </li>
                }

                <!-- Next -->
                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(currentPage + 1)"
                       asp-route-search="@search">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>

@section Scripts {
    <script>
        function submitDelete(id) {
            if (confirm("Yakin ingin menghapus paket ini?")) {
                document.getElementById(`deleteForm-${id}`).submit();
            }
        }
    </script>
}
